@media screen and (min-width: 800px)
{
    
}

@media screen and (max-width: 799px)
{
    
}

body
{
    background-color: black;
}

h1
{
    color: lightblue;
}

#title
{
    margin-top: 0px;
    background-color:  darkgrey;
    border-color: aqua;
    border-width: 2px;
    border-style: dashed;
}

.lowertext
{
    background-color:  darkgrey;
}

.toptab
{
    margin: 10%;
}
